/* search User admin */
.search-container {
    margin-left: 671px;
    display: flex;
}
  
.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* Bo góc trái */
    flex-grow: 1; /* Cho phép input mở rộng */
}
  
.search-button {
    padding: 8px 12px;
    background-color: #4CAF50; /* Màu xanh lá cây */
    color: white;
    border: none;
    border-radius: 0 4px 4px 0; /* Bo góc phải */
    cursor: pointer;
}
/* update User admin */
.custom-rounded-circle {
    border-radius: 50%;
    width: 250px; /* Đảm bảo kích thước ảnh */
    height: 250px; /* Đảm bảo kích thước ảnh */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    margin-left: 30%;
}
/* search */
.search-container{
    margin-left: -15px;
}
/* show food action */
.btn-action {
    transition: transform 0.2s;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.btn-action:hover {
    transform: scale(1.2);
}
.btn-button .btn {
    margin-bottom: 10px;
}
.btn-circleFood {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.btn-circleFood i {
    font-size: 20px;
}
/* show food search */
.search-input {
    background-color: #ffffff !important;
    border-radius: 8px !important;
}
.search-input::placeholder {
    color: #6c757d !important;
}