.food-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.food-list-container {
    width: 97%;
    padding: 20px;
}

.food-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.food-list-search-box {
    background-color: #2d3748;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 250px;
}

.food-list-nav {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.food-list-nav a {
    text-decoration: none;
    color: #c53030;
}

.food-list-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Điều chỉnh khoảng cách giữa các card */
    margin-top: 50px;
}

.food-list-card {
    background-color: #2d3748;
    padding: 50px 20px 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 240px;
    position: relative;
}

.food-list-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -30px;
}

.food-list-card h3 {
    margin-top: 80px;
    font-size: 18px;
    color: #ffffff;
}

.food-list-card p {
    margin: 5px 0;
    color: #a0aec0;
    font-size: 16px;
}

.food-list-text-gray {
    color: #a0aec0;
}